

.container-above {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 20px;
    column-gap: 20px;
    align-items: flex-start;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 15px 5px;
}

.left {
    display: flex;
    flex-direction: column;
}

#sobre {
    justify-content: flex-start;
    padding: 25px 5px 5px 30px;
    border-radius: 0 85px 0 85px;
}

#foto-sobre {
    color:#000;
}

.right {
    padding: 25px;
    width: 100%;
}

.txt-1 {
    color: #000;
    width: 90%;
    font-size: 23px;
    padding: 15px 5px;
}

.txt-2 {
    color: #000;
    width: 90%;
    font-size: 20px;
    padding: 15px 5px;
}

.txt-3 {
    color: #000;
    width: 90%;
    font-size: 23px;
    padding: 15px 5px;
}

.txt-4 {
    color: #000;
    width: 90%;
    font-size: 20px;
    padding: 15px 5px;
}

#container-pst {
    display: flex;
}

#content-pst {
    padding: 15px;
}

#pastores {
    width: 600px;
    padding: 25px;
}

#pst-content {
    color: rgb(40, 222, 40);
    font-size: 3rem;
    padding: 15px 0;
}

#txt-pst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.txt-5 {
    color:#f2f2f2;
    font-size: 2rem;
    margin-bottom: 30px;
}

.txt-6 {
    color:#f2f2f2;
    font-size: 2rem;
    margin-bottom: 50px;
}





@media (max-width: 1024px) {
    .right {
        padding: 5px;
    }
    
    .txt-1 {
        width: 100%;
        font-size: 20px;
        padding: 5px;
    }
    
    .txt-2 {
        width: 100%;
        font-size: 18px;
        padding: 5px;
    }
    
    .txt-3 {
        width: 100%;
        font-size: 20px;
        padding: 5px;
    }
    
    .txt-4 {
        width: 100%;
        font-size: 18px;
        padding: 5px;
    }
}

@media (max-width: 880px) {

    .container-above {
        display: flex;
    }

    #sobre {
        display: none;
    }

    .right {
        padding: 25px;
        width: 90%;
    }
    
    .txt-1 {
        color: #000;
        width: 90%;
        font-size: 22px;
        padding: 15px 5px;
    }
    
    .txt-2 {
        color: #000;
        width: 90%;
        font-size: 20px;
        padding: 15px 5px;
    }
    
    .txt-3 {
        color: #000;
        width: 90%;
        font-size: 22px;
        padding: 15px 5px;
    }
    
    .txt-4 {
        color: #000;
        width: 90%;
        font-size: 20px;
        padding: 15px 5px;
    }

    #pastores {
        width: 400px;
        padding: 25px;
    }
}

@media (max-width: 768px) {

    #sobre {
        display: none;
    }

    .right {
        padding: 25px 5px 25px 5px;
        width: 100%;
    }
    
    .txt-1 {
        color: #000;
        width: 90%;
        font-size: 22px;
        padding: 15px 5px;
    }
    
    .txt-2 {
        color: #000;
        width: 90%;
        font-size: 20px;
        padding: 15px 5px;
    }
    
    .txt-3 {
        color: #000;
        width: 90%;
        font-size: 22px;
        padding: 15px 5px;
    }
    
    .txt-4 {
        color: #000;
        width: 90%;
        font-size: 20px;
        padding: 15px 5px;
    }

    #pst-content {
        font-size: 2rem;
    }
    
    .txt-5 {
        font-size: 1.5rem;
    }
    
    .txt-6 {
        font-size: 1.5rem;
    }
}

@media (max-width: 680px) {
    #container-pst {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    #pastores {
        width: 90%;
    }
}

@media (max-width: 480px) {
    #pastores {
        width: 96%;
    }
}